<h1>All Airbnb Data</h1>
<p>Total records: {{totalRecords}} | Displaying: {{displayedRecords}}</p>

<table class="data-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Host Name</th>
            <th>Neighbourhood</th>
            <th>Price</th>
            <th>Room Type</th>
            <th>Thumbnail</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr {{#isEmptyName this.NAME}}class="empty-name"{{/isEmptyName}}>
            <td>{{this.id}}</td>
            <td>{{checkName this.NAME}}</td>
            <td>{{this.[host name]}}</td>
            <td>{{this.neighbourhood}}</td>
            <td>{{formatPrice this.price}}</td>
            <td>{{this.[room type]}}</td>
            <td>
                {{#if this.thumbnail}}
                <img src="{{this.thumbnail}}" alt="Property" style="width: 50px; height: auto;">
                {{else}}
                No Image
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>